name: web-build

on:
  pull_request:
    paths:
      - 'web/**'
      - '.github/workflows/web-build.yml'
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build web Docker image
        run: docker build -f web/Dockerfile -t rocinante-web:ci ./web

